version: '3.8'

services:
  # --------------------- MARIADB ---------------------
  mariadb:
    image: mariadb:10.11
    container_name: mariadb
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: iot_monitoring
      MYSQL_USER: iotuser
      MYSQL_PASSWORD: iot123
      TZ: Asia/Ho_Chi_Minh
    ports:
      - "3306:3306"
    volumes:
      - mariadb_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  # --------------------- PHPMYADMIN ---------------------
  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: phpmyadmin
    restart: always
    environment:
      PMA_HOST: mariadb
      PMA_PORT: 3306
      PMA_USER: iotuser
      PMA_PASSWORD: iot123
    ports:
      - "8080:80"
    depends_on:
      mariadb:
        condition: service_healthy

  # --------------------- INFLUXDB ---------------------
  influxdb:
    image: influxdb:latest
    container_name: influxdb
    restart: always
    environment:
      INFLUXDB_ADMIN_USER: admin
      INFLUXDB_ADMIN_PASSWORD: admin123
      TZ: Asia/Ho_Chi_Minh
    ports:
      - "8086:8086"
    volumes:
      - influxdb_data:/var/lib/influxdb2
      - ./init-influx.sh:/docker-entrypoint-initdb.d/init-influx.sh
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8086/health"]
      interval: 10s
      timeout: 5s
      retries: 5

  # --------------------- GRAFANA ---------------------
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: always
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin123
      GF_SECURITY_ALLOW_EMBEDDING: true
      TZ: Asia/Ho_Chi_Minh
    ports:
      - "3000:3000"
    depends_on:
      influxdb:
        condition: service_healthy
    volumes:
      - grafana_data:/var/lib/grafana

  # --------------------- NODERED ---------------------
  nodered:
    image: nodered/node-red:latest
    container_name: nodered
    restart: always
    ports:
      - "1880:1880"
    environment:
      TZ: Asia/Ho_Chi_Minh
    volumes:
      - ./nodered_data:/data
    depends_on:
      mariadb:
        condition: service_healthy
      influxdb:
        condition: service_healthy

  # --------------------- NGINX ---------------------
  php-fpm:
    image: php:8.2-fpm
    container_name: php-fpm
    restart: always
    volumes:
      - ./www:/var/www/html
    depends_on:
      - mariadb

  nginx:
    image: nginx:latest
    container_name: nginx
    restart: always
    ports:
      - "8081:80"
    volumes:
      - ./www:/var/www/html
      - ./nginx_conf:/etc/nginx/conf.d
    depends_on:
      - php-fpm

# --------------------- VOLUMES ---------------------
volumes:
  mariadb_data:
  nodered_data:
  influxdb_data:
  grafana_data:
